Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

fix(deps): update module github.com/bitfield/script to v0.22.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/otiai10/copy to v1.11.0
  go.mod
  go.sum
Due: go-no-replacement

Closes #28
  .hooks/go-vet.sh
  .pre-commit-config.yaml
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  mageutils.go
Due: go-no-replacement, go-unit-tests

chore(deps): update returntocorp/semgrep-action digest to b802485
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update github/codeql-action digest to f3feb00
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 8689a93
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update shogo82148/actions-goveralls digest to df920a6
  .github/workflows/tests.yaml
Due: none

chore(deps): update github/codeql-action digest to 29b1f65
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.4
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Due: none

Specify branch for codeql action to avoid errors with renovatebot
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update module github.com/magefile/mage to v1.15.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Due: go-no-replacement

Add new labels and incorporate them with labeler
  .github/labeler.yaml
  .github/labels.yaml
Due: none

Migrated ansible to v2; added missing test
  go.sum
  v2/ansible/ansible.go
  v2/ansible/ansible_test.go
  v2/cloudflare/cloudflare.go
  v2/cloudflare/cloudflare_test.go
  v2/file/file.go
  v2/file/file_test.go
  v2/git/git.go
  v2/git/git_test.go
  v2/go.mod
  v2/go.sum
  v2/lint/lint.go
  v2/lint/lint_test.go
  v2/log/log.go
  v2/log/log_test.go
  v2/macos/macos.go
  v2/macos/macos_test.go
  v2/mage/mage.go
  v2/mage/mage_test.go
  v2/net/net.go
  v2/net/net_test.go
  v2/string/string.go
  v2/string/string_test.go
  v2/sys/sys.go
  v2/sys/sys_test.go
  v2/testvars/testvars.go
  v2/testvars/testvars_test.go
Due: go-no-replacement, go-unit-tests

Add web package and tests
  v2/go.mod
  v2/go.sum
  v2/web/README.md
  v2/web/browser.go
  v2/web/browser_test.go
  v2/web/chrome/chrome.go
  v2/web/chrome/chrome_test.go
  v2/web/session.go
Due: go-no-replacement, go-unit-tests

Add net package and tests
  .pre-commit-config.yaml
  v2/go.mod
  v2/go.sum
  v2/net/net.go
  v2/net/net_test.go
Due: go-no-replacement, go-unit-tests

Add string package and tests
  v2/string/string.go
  v2/string/string_test.go
Due: go-unit-tests

Fixed formatting of web README
  v2/web/README.md
Due: none

Add string package README; update LICENSE date
  LICENSE
  v2/string/README.md
Due: none

Linting
  v2/ansible/ansible_test.go
  v2/string/README.md
  v2/string/string_test.go
  v2/web/go.mod
  v2/web/go.sum
Due: go-no-replacement, go-unit-tests

Uniform README for string and net packages
  v2/net/README.md
  v2/string/README.md
Due: none

Add placeholders for packages that need to be migrated from v1
  v2/cloudflare/.gitkeep
  v2/cloudflare/cloudflare.go
  v2/cloudflare/cloudflare_test.go
  v2/file/.gitkeep
  v2/file/file.go
  v2/file/file_test.go
  v2/git/.gitkeep
  v2/git/git.go
  v2/git/git_test.go
  v2/lint/.gitkeep
  v2/lint/lint.go
  v2/lint/lint_test.go
  v2/log/.gitkeep
  v2/log/log.go
  v2/log/log_test.go
  v2/macos/.gitkeep
  v2/macos/macos.go
  v2/macos/macos_test.go
  v2/mage/.gitkeep
  v2/mage/mage.go
  v2/mage/mage_test.go
  v2/sys/.gitkeep
  v2/sys/sys.go
  v2/sys/sys_test.go
  v2/testvars/.gitkeep
  v2/testvars/testvars.go
  v2/testvars/testvars_test.go
Due: go-unit-tests
