Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

fix(deps): update github.com/chromedp/cdproto digest to 17ee49f (#352)
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to dd2527a (#353)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.2 (#355)
  .pre-commit-config.yaml
Due: none

fix(deps): update golang.org/x/exp digest to d852ddb (#354)
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to 8aadd9c
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update golang.org/x/exp digest to d852ddb
  go.mod
Due: go-no-replacement

chore(deps): update dependency python to v3.11.5
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/samber/slog-multi to v1
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/checkout action to v3.6.0 (#363)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.0.2 (#362)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update dependency python to v3.11.5 (#361)
  .tool-versions
Due: none

fix(deps): update golang.org/x/exp digest to d852ddb (#360)
  go.mod
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to 8aadd9c (#359)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Fixed typo
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to bfe71bc
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to ce12eb7
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Due: none

chore(deps): update github/codeql-action digest to 00e563e (#366)
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to bfe71bc (#367)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.3 (#369)
  .pre-commit-config.yaml
Due: none

fix(deps): update github.com/l50/goutils/v2 digest to ce12eb7 (#368)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.0.5 (#370)
  .github/workflows/renovate.yaml
Due: none

Add commit-msg hook to install
  dev/lint/lintutils.go
  go.sum
  magefiles/go.sum
Due: go-unit-tests

Update slog imports to new format
  go.mod
  go.sum
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-no-replacement, go-unit-tests

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 38a8736
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.1
  .tool-versions
Due: none

fix(deps): update module github.com/samber/slog-multi to v1.0.1
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update actions/checkout action to v4 (#379)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0 (#378)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.1 (#376)
  .tool-versions
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 38a8736 (#375)
  go.mod
  go.sum
Due: go-no-replacement
