Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Update encoderutils.go
  file/encoderutils/encoderutils.go
Due: go-unit-tests

Default for ignore_tests is false, so we removed it
  .github/renovate/autoMerge.json5
Due: none

chore(deps): update github/codeql-action digest to 1813ca7
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 3ed7c52
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils/v2 to v2.0.9
  magefiles/go.mod
Due: go-no-replacement

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Due: none

fix(deps): update golang.org/x/exp digest to 613f0c0
  go.mod
  go.sum
Due: go-no-replacement

Update renovate to include merge_group; update matchUpdateTypes for autoMerge
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.8.0
  go.mod
  go.sum
Due: go-no-replacement

Bug fixes and test creation
  .github/renovate/autoMerge.json5
  file/encoderutils/encoderutils.go
  file/encoderutils/encoderutils_test.go
  go.sum
Due: go-unit-tests

Simplified autoMerge.json5
  .github/renovate/autoMerge.json5
Due: none

Create pre-commit hook to check dependencies for incompatible licenses
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Due: none

Update dependencies; fix minor linting bug
  README.md
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Exclude bats files from appropriate location in PC hook config
  .pre-commit-config.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to dbf72f6
  go.mod
  go.sum
Due: go-no-replacement

Install nancy for 3p vuln detection
  .github/workflows/nancy.yaml
Due: none

More robust TestFindExportedFuncsWithoutTests()
  dev/mage/mageutils_test.go
  go.sum
Due: go-unit-tests

Converted to more sustainable table format tests
  dev/mage/mageutils_test.go
Due: go-unit-tests

Fixed FindExportedFunctionsInPackage() and test
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
Due: go-unit-tests

Incorporate generate-docs into pre-commit hooks
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: none

chore(deps): update github/codeql-action digest to 6ca1aa8
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update golang.org/x/exp digest to 515e97e
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.8.1
  go.mod
  go.sum
Due: go-no-replacement
