Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Updated go test script and refactored collection package.
  .hooks/run-go-tests.sh
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

Updated go test script and refactored collection package. (#781)
  .hooks/run-go-tests.sh
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

Add SetupKubeConfig function and tests for kubeconfig handling
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Due: go-unit-tests

Add SetupKubeConfig function and tests for kubeconfig handling (#784)
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Due: go-unit-tests

Added CheckKubeConfig function and tests
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
Due: go-unit-tests

Coverage: 91.1% of statements
  k8s/client/client_test.go
  k8s/jobs/README.md
  k8s/jobs/buildingTest_test.go
  k8s/jobs/jobHelpers.go
  k8s/manifests/manifestHelpers.go
Due: go-unit-tests

93.3% coverage
  k8s/jobs/buildingTest_test.go
  k8s/jobs/jobHelpers.go
Due: go-unit-tests

All test cases working in `buildingTest_test.go`
  k8s/jobs/applyK8sJob_test.go
Due: go-unit-tests

New test cases working (#785)
  k8s/client/client_test.go
  k8s/jobs/README.md
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
  k8s/manifests/manifestHelpers.go
Due: go-unit-tests

Added TestDeleteKubernetesJob()
  k8s/jobs/jobHelpers_test.go
Due: go-unit-tests

Refactored Kubernetes Job client tests and implementation
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
Due: go-unit-tests

Refactored Kubernetes Job client tests and implementation (#786)
  k8s/jobs/applyK8sJob_test.go
  k8s/jobs/jobHelpers.go
Due: go-unit-tests

StreamJobLogs + 0% coverage test
  go.mod
  go.sum
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
Due: go-no-replacement, go-unit-tests

Refactored jobHelpers and tests for mock implementation
  go.mod
  go.sum
  k8s/dynamic/status.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
  k8s/jobs/streamJobLogs_test.go
Due: go-no-replacement, go-unit-tests

Refactored jobHelpers and tests for mock implementation (#794)
  go.mod
  go.sum
  k8s/dynamic/status.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/streamJobLogs_test.go
Due: go-no-replacement, go-unit-tests

Add redundancy and resilience to StreamLogs()
  k8s/loggers/logStreamer.go
Due: go-unit-tests

Minor nits
  .github/workflows/tests.yaml
Due: none

Refactored Cmd struct and handleOutput method for concurrency safety
  sys/sysutils.go
Due: go-unit-tests

Update renovate action version
  .github/renovate.json5
  go.mod
  go.sum
Due: go-no-replacement

Enhanced logging package with JSON output and improved handlers
  logging/logutils.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Due: go-unit-tests

Refactor documentation generation to use go/packages and go/types
  dev/mage/mageutils.go
  docs/docGeneration.go
  docs/docGeneration_test.go
  go.mod
  logging/README.md
  logging/prettyhandler.go
Due: go-no-replacement, go-unit-tests

Improve doc generation and test coverage
  .gitignore
  docs/docGeneration.go
  docs/docGeneration_test.go
Due: go-unit-tests

Updated pre-commit action so that it doesn't run twice for pull requests
  .github/workflows/pre-commit.yaml
Due: none

Enhance logging and documentation generation (#893)
  .gitignore
  dev/mage/mageutils.go
  docs/docGeneration.go
  docs/docGeneration_test.go
  go.mod
  logging/README.md
  logging/logutils.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Due: go-no-replacement, go-unit-tests

Updated pre-commit action so that it doesn't run twice for pull requests (#894)
  .github/workflows/pre-commit.yaml
Due: none

Updated pre-commit hooks
  .pre-commit-config.yaml
Due: none

Updated go mods
  go.mod
  go.sum
Due: go-no-replacement

Updated nancy action so that it doesn't run twice for pull requests
  .github/workflows/nancy.yaml
Due: none

Bumped go version in actions
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

Updated dependencies and CI workflow (#895)
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-no-replacement

Fixed goreleaser action
  .github/workflows/goreleaser.yaml
Due: none

Resolved bug that incorrectly defaulted to JSON output unless color logger was used
  logging/logutils.go
Due: go-unit-tests

Update step versions in nancy action
  .github/workflows/nancy.yaml
Due: none

Update Workflow Dependencies and Logging Configuration Improvements (#896)
  .github/workflows/nancy.yaml
  logging/logutils.go
Due: go-unit-tests

feat: improve doc generation hook, update Go version, and upgrade deps
  .hooks/generate-docs.sh
  go.mod
  go.sum
Due: go-no-replacement

fix: Resolve issues identified by nancy
  go.mod
  go.sum
Due: go-no-replacement

feat: Add nancy vuln scan & switch to markdownlint CLI, upgrade go deps
  .hooks/linters/markdownlint.json
  .hooks/linters/mdstyle.rb
  .hooks/nancy-scan.sh
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-no-replacement

fix: Update go version in relevant GHA
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

fix: Set schema for goreleaser GHA to stop VSCode confusion
  .github/workflows/goreleaser.yaml
Due: none

feat: Add Taskfile for local dev automation, update .gitignore for artifacts
  .gitignore
  Taskfile.yaml
Due: none
