Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

Improved PrettyHandler tests to ensure no color codes in output.
  logging/prettyhandler_test.go
Due: go-unit-tests

Refactored ColorLogger to use static color settings and updated logging.
  logging/colorlogger.go
Due: go-unit-tests

Fix colored logging handling in the log file
  logging/prettyhandler.go
Due: go-unit-tests

Add additional tests for StripANSI
  str/str_test.go
Due: go-unit-tests

Refactor LogInfo to LogConfig in logging package
  logging/README.md
  logging/colorlogger.go
  logging/loginfo.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
Due: go-unit-tests

Enhance test script and refactor LogInfo to LogConfig in logging package
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

Optimize go-vet and run-go-tests scripts for enhanced performance
  .hooks/go-vet.sh
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Due: none

Refactor and Test Enhancements for Logging System
  logging/README.md
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/logger.go
  logging/loginfo.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
  logging/plainlogger_test.go
Due: go-unit-tests

WIP
  go.mod
  logging/colorize.go
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/logutils.go
  logging/logutils_test.go
  logging/prettyhandler.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

WIP AGAIN
  logging/colorize.go
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/logutils.go
  logging/prettyhandler.go
Due: go-unit-tests

ANOTHER WIP
  .vscode/launch.json
  .vscode/tasks.json
  logging/colorize.go
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/logutils.go
  logging/logutils_test.go
  logging/prettyhandler.go
  magefiles/magefile.go
Due: go-unit-tests

A more promising WIP
  logging/colorize.go
  logging/prettyhandler.go
  magefiles/magefile.go
Due: go-unit-tests

Refactor logging mechanisms in ColorLogger and PrettyHandler
  logging/README.md
  logging/colorlogger.go
  logging/plainlogger.go
  logging/prettyhandler.go
  magefiles/magefile.go
Due: go-unit-tests

Implemented Close Method for Loggers
  logging/README.md
  logging/colorlogger.go
  logging/logger.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
Due: go-unit-tests

Ensure uniformity of tests to idiomatic standards
  ansible/ansible_test.go
  cloudflare/cloudflareutils_test.go
  dev/lint/lintutils_test.go
  dev/mage/mageutils_test.go
  docs/docGeneration_test.go
  docs/markdownHelpers_test.go
  file/aferoutils/aferoutils_test.go
  file/encoderutils/encoderutils_test.go
  file/fileutils/fileutils_test.go
  git/gitutils_test.go
  logging/logutils_test.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
  macos/macosutils_test.go
  str/README.md
  str/str.go
  str/str_test.go
  sys/sysutils_test.go
  web/browser_test.go
  web/cdpu/chrome_test.go
Due: go-unit-tests

Fix color codes in JSON output
  logging/logutils.go
Due: go-unit-tests

Refactored logging for improved clarity and efficiency.
  .gitignore
  logging/colorlogger.go
  logging/prettyhandler.go
  magefiles/magefile.go
Due: go-unit-tests

Fixed random {} in color output
  logging/prettyhandler.go
Due: go-unit-tests

Refactor PrettyHandler for Enhanced Logging Flexibility
  logging/README.md
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Due: go-unit-tests

Updated example tests
  .hooks/go-vet.sh
  logging/logutils_examples_test.go
Due: go-unit-tests

Enhance Logging and Pre-Commit Hooks (#545)
  .gitignore
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  ansible/ansible_test.go
  cloudflare/cloudflareutils_test.go
  dev/lint/lintutils_test.go
  dev/mage/mageutils_test.go
  docs/docGeneration_test.go
  docs/markdownHelpers_test.go
  file/aferoutils/aferoutils_test.go
  file/encoderutils/encoderutils_test.go
  file/fileutils/fileutils_test.go
  git/gitutils_test.go
  go.mod
  logging/README.md
  logging/colorize.go
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/loginfo.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
  logging/plainlogger_test.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
  macos/macosutils_test.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  str/README.md
  str/str.go
  str/str_test.go
  sys/sysutils_test.go
  web/browser_test.go
  web/cdpu/chrome_test.go
Due: go-no-replacement, go-unit-tests

Switched logging format to DateTime
  go.sum
  logging/prettyhandler.go
  magefiles/go.sum
Due: go-unit-tests

Update go.sum
  go.sum
  magefiles/go.sum
Due: none

Incorporate update from renovate PR
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update go.sum (#551)
  go.sum
  magefiles/go.sum
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
