Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

fix(deps): update module github.com/go-git/go-git/v5 to v5.8.1
  go.mod
  go.sum
Due: go-no-replacement

Improvements; updates; bug fixes
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  .tool-versions
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 6ca1aa8
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Due: none

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Due: none

Bug fix in RunPCHooks
  dev/lint/lintutils.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Update README.md
  README.md
Due: none

Update go modules
  go.mod
  go.sum
  magefiles/go.sum
Due: go-no-replacement

Fix renovate action
  .github/workflows/renovate.yaml
Due: none

Fix vulnerable dependency
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 0ba4244
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 3cf4e6d
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update golang.org/x/exp digest to 050eac2
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.20.7
  .tool-versions
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/chromedp/chromedp to v0.9.2
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/tidwall/gjson to v1.15.0
  go.mod
  go.sum
Due: go-no-replacement

Bumped golang to 1.20.7
  .tool-versions
Due: none

Dep update
  .pre-commit-config.yaml
  go.sum
Due: none

Fixed MD formatting issue
  .hooks/linters/mdstyle.rb
Due: none

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update github.com/l50/goutils/v2 digest to 3703ad6
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/chromedp/chromedp to v0.9.2 (#337)
  go.mod
  go.sum
Due: go-no-replacement
