Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Update dependencies and package structure
  go.mod
  logging/README.md
  magefiles/go.mod
  magefiles/go.sum
  passwordManager/README.md
  passwordManager/keeper/README.md
  passwordManager/keeper/keeperutils.go
  passwordManager/keeper/keeperutils_examples_test.go
  passwordManager/keeper/keeperutils_test.go
  passwordManager/passwordManager.go
Due: go-no-replacement, go-unit-tests

Updated goreleaser workflow to use go 1.20.5
  .github/workflows/goreleaser.yaml
  go.mod
Due: go-no-replacement

Fixed package import names
  passwordManager/keeper/keeperutils_examples_test.go
  passwordManager/keeper/keeperutils_test.go
Due: go-unit-tests

Fixed pathing to pwmgr package; rm replace directive from mage go.mod
  .github/workflows/tests.yaml
  magefiles/go.mod
  pwmgr/README.md
  pwmgr/keeper/README.md
  pwmgr/keeper/keeperutils.go
  pwmgr/keeper/keeperutils_examples_test.go
  pwmgr/keeper/keeperutils_test.go
  pwmgr/pwmgr.go
Due: go-no-replacement, go-unit-tests

Fixed pathing to pwmgr package; rm replace directive from mage go.mod
  magefiles/go.mod
  magefiles/go.sum
  pwmgr/keeper/keeperutils_examples_test.go
  pwmgr/keeper/keeperutils_test.go
Due: go-no-replacement, go-unit-tests

More descriptive comments for keeper package; bug fixes
  pwmgr/keeper/README.md
  pwmgr/keeper/keeperutils.go
  pwmgr/keeper/keeperutils_examples_test.go
  pwmgr/keeper/keeperutils_test.go
Due: go-unit-tests

Added Error and Errorf to logging package
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

fix(deps): update github.com/chromedp/cdproto digest to 7fafe34
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency python to v3.11.4
  .tool-versions
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.6
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Due: none

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Due: none

Added label for asdf
  .github/labeler.yaml
  .github/labels.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.6 (#244)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update dependency ruby to v3.2.2 (#246)
  .tool-versions
Due: none

Added exported interface comment template
  docs/README.md
  docs/docGeneration.go
  docs/docGeneration_examples_test.go
  docs/docGeneration_test.go
  magefiles/go.sum
Due: go-unit-tests

Fixed bug with .docgenignore file handling
  docs/docGeneration.go
  magefiles/magefile.go
Due: go-unit-tests

Added method signatures to headers
  docs/docGeneration.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Minor linting
  docs/docGeneration_examples_test.go
  magefiles/magefile.go
Due: go-unit-tests

Fixed python version in .tool-versions
  .tool-versions
Due: none

Remove old logic from generate-docs PC hook
  .hooks/generate-docs.sh
Due: none

Working vscode debugging with mage
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Add SeekAndDestroy() + tests
  file/fileutils.go
  file/fileutils_examples_test.go
  file/fileutils_test.go
Due: go-unit-tests

Fixed docgen; updated pkg docs
  docs/README.md
  docs/docGeneration.go
  file/README.md
Due: go-unit-tests

Fixed comment
  file/fileutils.go
  magefiles/go.mod
Due: go-no-replacement, go-unit-tests

Generation of docs now done with afero
  docs/docGeneration.go
  docs/docGeneration_test.go
Due: go-unit-tests
