Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Minor adjustment to README
  README.md
Due: none

Rename precommitutils to lintutils; add AddFencedCB() and test
  .pre-commit-config.yaml
  .vscode/settings.json
  go.mod
  go.sum
  lintutils.go
  lintutils_test.go
  magefiles/go.mod
  magefiles/go.sum
  precommitutils_test.go
  sysutils_test.go
Due: go-no-replacement, go-unit-tests

Fixed and updated several functions
  fileutils.go
  fileutils_test.go
  gitutils_test.go
  go.mod
  go.sum
  lintutils.go
  lintutils_test.go
  logutils_test.go
  magefiles/go.mod
  magefiles/go.sum
  mageutils_test.go
  sysutils.go
  sysutils_test.go
  testvars.go
Due: go-no-replacement, go-unit-tests

Add RepoRoot() and test
  gitutils.go
  gitutils_test.go
  go.mod
  keeperutils.go
  sysutils.go
Due: go-no-replacement, go-unit-tests

Minor fixes/updates to the go-vet hook and pre-commit config
  .hooks/go-vet.sh
  .pre-commit-config.yaml
Due: none

Update CmdExists() and go modules
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  sysutils.go
Due: go-no-replacement, go-unit-tests

Add AnsiblePing()
  ansibleutils.go
Due: go-unit-tests

Update semgrep GH action
  .github/workflows/semgrep.yaml
Due: none

Add GHRelease() and test
  mageutils.go
  mageutils_test.go
Due: go-unit-tests

Add cloudflareutils; update go mods
  cloudflareutils.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Update gvm config
  .gvm
Due: none

New keeper utils; update instructions; misc
  README.md
  go.mod
  go.sum
  keeperutils.go
  lintutils.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Bug fixes for keeperutils; add tests
  go.mod
  go.sum
  keeperutils.go
  keeperutils_test.go
Due: go-no-replacement, go-unit-tests

Minor correction to README
  README.md
Due: none

Final round of bug fixes for keeperutils
  keeperutils.go
  keeperutils_test.go
Due: go-unit-tests

Update magefile go mods
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update test action to skip keeper tests
  .github/workflows/tests.yaml
  keeperutils_test.go
Due: go-unit-tests

Update test action to include gh-changelog extension
  .github/workflows/tests.yaml
Due: none

Update go mod
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Add default value for UpdateMageDeps(); create InstallBrewDeps() and InstallBrewTFDeps()
  macosutils.go
  mageutils.go
Due: go-unit-tests

Add CSVToLines() and test; update pre-commit hook
  .pre-commit-config.yaml
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Add tests for InstallBrewDeps() InstallBrewTFDeps()
  macosutils.go
  macosutils_test.go
Due: go-unit-tests

Add FindExportedFunctionsInPackage() and test
  mageutils.go
  mageutils_test.go
Due: go-unit-tests

Add additional, more robust test
  mageutils_test.go
Due: go-unit-tests

Improve TestFindExportedFunctionsInPackage()
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  mageutils_test.go
Due: go-no-replacement, go-unit-tests

Fix typos; update go mods
  ansibleutils.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Add FindExportedFuncsWithoutTests() and test
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Add PullRepos() and test
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Overhaul keeperutils
  .pre-commit-config.yaml
  go.mod
  go.sum
  keeperutils.go
  keeperutils_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Add support for encryptedNotes
  keeperutils.go
  keeperutils_test.go
Due: go-unit-tests

Remove prompts to facilitate valid JSON output
  keeperutils.go
Due: go-unit-tests

Update FileToSlice to remove blank lines from output
  fileutils.go
Due: go-unit-tests

Update PC hook
  .pre-commit-config.yaml
Due: none

Update to go 1.20
  .github/workflows/tests.yaml
Due: none

Add GetOSAndArch() and test
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Add KillProcess() + test to support killing procs
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Update go to 1.20
  .github/workflows/goreleaser.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .gvm
Due: none

Minor updates to KillProcess() for windows compatibility
  sysutils.go
Due: go-unit-tests

Remove dependabot in favor of renovate
  .github/dependabot.yml
Due: none

Linting and updates
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  renovate.json
Due: go-no-replacement
