Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

Multiple fixes and new function
  .hooks/go-unit-tests.sh
  .mage/magefile.go
  fileutils.go
  gitutils.go
  gitutils_test.go
  mageutils.go
  mageutils_test.go
  precommitutils.go
  testvars.go
Due: go-unit-tests

Fix RunCommandWithTimeout() and improve test
  .mage/go.mod
  .mage/go.sum
  go.mod
  go.sum
  netutils.go
  netutils_test.go
  sysutils.go
  sysutils_test.go
Due: go-no-replacement, go-unit-tests

Minor linting
  .mage/go.mod
  mageutils.go
Due: go-no-replacement, go-unit-tests

New LICENSE badge
  README.md
Due: none

Fixed branch reference in LICENSE badge
  README.md
Due: none

Update license badge name
  README.md
Due: none

Remove redundant pre-commit run
  .github/workflows/pre-commit-update.yml
Due: none

Update pre-commit resource
  .github/workflows/pre-commit-update.yml
Due: none

Update go.mod and go.sum
  .mage/go.mod
  .mage/go.sum
Due: go-no-replacement

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix mage location and update pre-commit workflow
  .github/workflows/pre-commit-update.yml
  .github/workflows/pre-commit.yaml
  .gvm
  README.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

Fix call to mage
  .github/workflows/tests.yaml
Due: none

Update mage dependencies
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update mage dependencies; fix references
  .pre-commit-config.yaml
  .vscode/tasks.json
  mageutils.go
  mageutils_test.go
  sysutils_test.go
Due: go-unit-tests

Updated README to use gvm file
  README.md
Due: none

Add base branch to pull request workflow
  .github/workflows/pre-commit.yaml
Due: none

Update README.md
  README.md
Due: none

Update pre-commit; remove old release template
  .gitignore
  .hooks/go-release-notes.md
  .hooks/linters/mdstyle.rb
  .mdlrc
  .pre-commit-config.yaml
Due: none

Update pre-commit; remove old release template
  .hooks/go-vet.sh
Due: none

Fixed instructions
  README.md
Due: none

Fix redundancies in test action
  .github/workflows/tests.yaml
Due: none

Fix bug with dependabot PRs
  .github/workflows/pre-commit.yaml
Due: none

chore: update pre-commit hooks
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update extension of goreleaser action
  .github/workflows/goreleaser.yaml
Due: none

Update pre-commit action with a more generic solution
  .github/workflows/pre-commit.yaml
Due: none

Fix unnecessary input for one of the pc action jobs
  .github/workflows/pre-commit.yaml
Due: none

Updated Cp() to use superior external library
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  sysutils.go
  sysutils_test.go
Due: go-no-replacement, go-unit-tests

Fix base branch for pre-commit action
  .github/workflows/pre-commit.yaml
Due: none

Updated Cp() to use superior external library
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Fix instructions; update magefile; fix test action
  .github/workflows/tests.yaml
  .goreleaser.yaml
  mageutils.go
  mageutils_test.go
Due: go-unit-tests

Add BOT_TOKEN for PRs
  .github/workflows/pre-commit.yaml
Due: none

Update mage go mod
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update mage and go modules
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

Fixed checkPCProject(); updated magefile && README
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
  README.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  precommitutils.go
Due: go-no-replacement, go-unit-tests

Update gvm go version to 1.19.2
  .gvm
Due: none

Fix two fileutils functions and their tests; update go deps
  fileutils.go
  fileutils_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
