Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Updated dynamic status tools to employ our k8s client code
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Add ListKubernetesJobs() and tests
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
Due: go-unit-tests

Add DescribeKubernetesResource() and test
  k8s/dynamic/README.md
  k8s/dynamic/status.go
Due: go-unit-tests

Fixed param ordering in output; added comments
  k8s/dynamic/status.go
Due: go-unit-tests

Created new status monitoring utilities for Kubernetes resources.
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Improvements and sane structure
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/jobHelpers.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
  k8s/logStreamer.go
  k8s/loggers/README.md
  k8s/loggers/common.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/logStreamer.go
  k8s/loggers/logStreamer_test.go
  k8s/loggers/serviceLogger.go
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Due: go-no-replacement, go-unit-tests

Add JobExists() and tests
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
Due: go-unit-tests

Dynamic README
  k8s/dynamic/README.md
Due: none

Added tests for all new exported functionality
  k8s/loggers/common.go
  k8s/loggers/common_test.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/serviceLogger_test.go
Due: go-unit-tests

Add GetJobPodName() and tests
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
Due: go-unit-tests

Refactor and Enhance Kubernetes Utilities (#643)
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
  k8s/jobHelpers.go
  k8s/jobHelpers_test.go
  k8s/jobs/README.md
  k8s/jobs/jobHelpers.go
  k8s/jobs/jobHelpers_test.go
  k8s/logStreamer.go
  k8s/loggers/README.md
  k8s/loggers/common.go
  k8s/loggers/common_test.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/logStreamer.go
  k8s/loggers/logStreamer_test.go
  k8s/loggers/serviceLogger.go
  k8s/loggers/serviceLogger_test.go
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Due: go-no-replacement, go-unit-tests

Moved magefile repo root; created templates directory
  README.md
  magefile.go
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/testing.go
  templates/README.md.tmpl
Due: go-no-replacement, go-unit-tests

Updated generateReadmeFromTemplate to ensure the repo README isn't overwritten
  docs/docGeneration.go
  go.mod
  go.sum
Due: go-no-replacement, go-unit-tests

Refactor and streamline codebase with repo structure changes
  .pre-commit-config.yaml
  dev/lint/lintutils.go
  dev/mage/mageutils_test.go
  docs/docGeneration_test.go
  magefile.go
  sys/sysutils_test.go
Due: go-unit-tests

Refactor project to remove magefiles directory usage
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/pre-commit.yaml
  .hooks/go-vet.sh
  .vscode/launch.json
  .vscode/tasks.json
  dev/mage/mageutils_test.go
Due: go-unit-tests

Magefile now uses project deps; fixed docs overwriting repo README (#644)
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/pre-commit.yaml
  .hooks/go-vet.sh
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  dev/lint/lintutils.go
  dev/mage/mageutils_test.go
  docs/docGeneration.go
  docs/docGeneration_test.go
  go.mod
  go.sum
  magefile.go
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/testing.go
  sys/sysutils_test.go
  templates/README.md.tmpl
Due: go-no-replacement, go-unit-tests

Update go mods
  go.mod
  go.sum
Due: go-no-replacement

Fixed accidentally overwritten repo README
  README.md
Due: none

Fixed badges in README.md
  README.md
Due: none

Enhance Kubernetes dynamic execution with interface and updated docs
  go.sum
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
Due: go-unit-tests

Failing test that doesn't crash
  go.mod
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
Due: go-no-replacement, go-unit-tests

**Refactor and Extend Kubernetes Client Implementation**
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/serviceLogger.go
  k8s/loggers/serviceLogger_test.go
Due: go-no-replacement, go-unit-tests

Replaced return of *kubernetes.Clientset with interface
  k8s/client/README.md
  k8s/client/client.go
Due: go-unit-tests

Enhanced Kubernetes dynamic execution and client operations
  go.mod
  go.sum
  k8s/client/README.md
  k8s/client/client.go
  k8s/client/client_test.go
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/execution_test.go
  k8s/loggers/deploymentLogger.go
  k8s/loggers/deploymentLogger_test.go
  k8s/loggers/serviceLogger.go
  k8s/loggers/serviceLogger_test.go
Due: go-no-replacement, go-unit-tests

Removed print statement from utility
  k8s/dynamic/status.go
Due: go-unit-tests

Refactored resource status waiting logic in Kubernetes client
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Refactored resource status waiting logic in Kubernetes client (#677)
  go.mod
  go.sum
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-no-replacement, go-unit-tests

Removed remaining print statements
  k8s/dynamic/status.go
Due: go-unit-tests

Improved GetResourceStatus() and added tests
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Aligned location of functions between code and tests
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Cleaned up go mods
  go.mod
  go.sum
Due: go-no-replacement

Fix noisy nancy action
  .github/workflows/nancy.yaml
Due: none

Add CreateConfigMapFromScript and test
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Due: go-unit-tests

Add CreateConfigMapFromScript and test (#688)
  go.mod
  go.sum
  k8s/manifests/README.md
  k8s/manifests/manifestHelpers.go
  k8s/manifests/manifestHelpers_test.go
Due: go-no-replacement, go-unit-tests

Enhance resource status handling and expand testing
  .pre-commit-config.yaml
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Testing fix for streaming issues
  k8s/dynamic/execution.go
Due: go-unit-tests

Updated go mods
  go.mod
  go.sum
Due: go-no-replacement
