Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Add go vet back into pre-commit hooks
  .hooks/go-vet.sh
  .pre-commit-config.yaml
Due: none

Improve dev tests
  dev/mageutils_test.go
  go.mod
  go.sum
Due: go-no-replacement, go-unit-tests

Add Context field to Site for situations that call for dynamic contexts
  web/chrome/chrome.go
Due: go-unit-tests

All mageutils tests working
  dev/mageutils_test.go
Due: go-unit-tests

Update GetRandomWait() to take int parameters instead of time
  web/browser.go
  web/browser_test.go
Due: go-unit-tests

Added IsNumeric() and test
  str/str.go
  str/str_test.go
Due: go-unit-tests

Add CheckElement() and test
  str/README.md
  web/cdpchrome/README.md
  web/cdpchrome/chrome.go
  web/cdpchrome/chrome_test.go
Due: go-unit-tests

Finish refactor of cdpchrome
  web/cdpchrome/README.md
  web/cdpchrome/cdpchrome.go
  web/cdpchrome/cdpchrome_test.go
Due: go-unit-tests

Add missing README for git utils
  git/README.md
  git/gitutils.go
Due: go-unit-tests

Add updated dependencies from main
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Break mageutils into their own package
  dev/lint/README.md
  dev/lint/lintutils.go
  dev/lint/lintutils_test.go
  dev/mage/README.md
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
  go.mod
  go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

Fixed argument processing for go-unit-tests hook
  .hooks/go-unit-tests.sh
Due: none

Improved reliability and usability of RunCommandWithTimeout()
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-unit-tests

Fixed RunPCHooks() and test
  dev/lint/lintutils.go
  dev/lint/lintutils_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Numerous fixes as a result of changes to sys pkg
  go.mod
  go.sum
  keeper/keeperutils.go
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

TestRunPCHooks() less fragile
  dev/lint/lintutils_test.go
Due: go-unit-tests

New labels for v2
  .github/labeler.yaml
  .github/labels.yaml
Due: none

Hopefully resolve go.mod conflict
  go.mod
  go.sum
Due: go-no-replacement

Fixed coverage test issue
  .github/workflows/tests.yaml
  .hooks/go-unit-tests.sh
  go.mod
  go.sum
Due: go-no-replacement

Modify UpdateMirror for v2.0.0
  magefiles/magefile.go
Due: go-unit-tests

chore(deps): update returntocorp/semgrep-action digest to 316a175
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.3
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Due: none

Update go mods
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils/v2 to v2.0.1
  magefiles/go.mod
Due: go-no-replacement

Minor fixes
  dev/lint/lintutils.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

Closes #193
  file/fileutils.go
  file/fileutils_test.go
Due: go-unit-tests

Closes #198
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
Due: go-unit-tests

Minor bug fixes and improvements
  .github/workflows/goreleaser.yaml
  .github/workflows/tests.yaml
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
Due: go-unit-tests

Update report card badge
  README.md
Due: none

Remove last line that employed the fatih/color package
  magefiles/magefile.go
Due: go-unit-tests

Fixed GetRandomWait comment
  web/browser.go
Due: go-unit-tests

Added IsTwoFacEnabled(), IsLogMeOutEnabled(), SetLoginOptions(), and tests
  web/browser.go
  web/browser_test.go
Due: go-unit-tests

Updated magefiles goutils version
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement
