Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

Fix linting issue; update deps
  .github/workflows/renovate.yaml
  go.sum
  magefiles/go.sum
Due: none

chore(deps): update github/codeql-action digest to e5f05b8
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/create-github-app-token action to v1.6.3
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Due: none

chore(deps): update github/codeql-action digest to 0b21cf2
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update module github.com/protonmail/go-crypto to v1
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update actions/create-github-app-token action to v1.6.4
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Due: none

chore(deps): update module github.com/protonmail/go-crypto to v1 (#566)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 0b21cf2 (#565)
  .github/workflows/codeql-analysis.yaml
Due: none

Fixed renovate config errors
  .github/renovate.json5
Due: none

Added vscode go extension tools; update tool-versions and pc hooks
  .pre-commit-config.yaml
  go.sum
  magefiles/go.sum
  sys/sysutils_examples_test.go
Due: go-unit-tests

Add Warn and Warnf methods to ColorLogger and PlainLogger
  logging/README.md
  logging/colorlogger.go
  logging/colorlogger_test.go
  logging/logger.go
  logging/logutils_test.go
  logging/plainlogger.go
Due: go-unit-tests

Update labeler, editorconfig, and gitignore
  .editorconfig
  .github/labeler.yaml
  .gitignore
Due: none

Added DetermineLogLevel function and tests for logging
  go.mod
  go.sum
  logging/README.md
  logging/loginfo.go
  logging/loginfo_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Minor QOL improvements in RunCmd()
  sys/sysutils.go
Due: go-unit-tests

Add Dir() for RunCmd(); update mage go.mod
  magefiles/go.mod
  sys/sysutils.go
Due: go-no-replacement, go-unit-tests

Updated all actions to go1.22
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
Due: none

Fixed go version in tests action; remove old comment from a test
  .github/workflows/tests.yaml
  sys/sysutils_test.go
Due: go-unit-tests

Added new test to ensure Cp() works with dirs; removed non-working example test
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Cleaned up test action
  .github/workflows/tests.yaml
Due: none

Removed newly broken codeql action
  .github/workflows/codeql-analysis.yaml
Due: none

Add new slices package with Contains function and tests; updated go mods
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Add new slices package with Contains function and tests; updated go mods (#634)
  collection/README.md
  collection/slices.go
  collection/slices_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Add collection to labeler and labels
  .github/labeler.yaml
  .github/labels.yaml
Due: none

Added CreateTempFile
  file/fileutils/README.md
  file/fileutils/fileutils.go
  file/fileutils/fileutils_test.go
Due: go-unit-tests

Refactor Create and createTempFile functions to handle errors and paths better
  file/fileutils/README.md
  file/fileutils/fileutils.go
  file/fileutils/fileutils_examples_test.go
  file/fileutils/fileutils_test.go
Due: go-unit-tests

Add NewKubernetesClient and tests
  go.mod
  go.sum
  k8s/client.go
  k8s/client_test.go
  magefiles/go.mod
Due: go-no-replacement, go-unit-tests

Refactored Kubernetes client interface and added job deletion functionality
  go.mod
  go.sum
  k8s/client.go
  k8s/jobHelpers.go
  k8s/jobHelpers_test.go
Due: go-no-replacement, go-unit-tests

Removed deprecated go-lint pc hook
  .pre-commit-config.yaml
Due: none

Added additional k8s utilities
  go.mod
  go.sum
  k8s/README.md
  k8s/client.go
  k8s/manifestHelpers.go
  k8s/manifestHelpers_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Add timeout to golangci-lint
  .pre-commit-config.yaml
Due: none

Added k8s utilities (#636)
  .pre-commit-config.yaml
  go.mod
  go.sum
  k8s/README.md
  k8s/client.go
  k8s/manifestHelpers.go
  k8s/manifestHelpers_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Updated Kubernetes client to use dynamic client
  go.sum
  k8s/client.go
  k8s/client_test.go
Due: go-unit-tests

Added new functionality to handle k8s jobs
  k8s/manifestHelpers.go
  k8s/manifestHelpers_test.go
Due: go-unit-tests

Added new functionality to handle k8s jobs (#638)
  k8s/manifestHelpers.go
  k8s/manifestHelpers_test.go
Due: go-unit-tests

New `StreamLogs` function for streaming logs from Kubernetes pods, jobs, or deployments
  k8s/README.md
  k8s/logStreamer.go
  k8s/logStreamer_test.go
Due: go-unit-tests

Fixed log output; rm'ed temp file
  k8s/dynamic/README.md
  k8s/dynamic/status.go
  k8s/dynamic/status_test.go
Due: go-unit-tests

Enhanced Kubernetes client and dynamic execution utilities.
  k8s/client/client.go
  k8s/dynamic/README.md
  k8s/dynamic/execution.go
  k8s/dynamic/status.go
Due: go-unit-tests

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
