Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

Fixed non-idiomatic practices
  docs/docGeneration_examples_test.go
  docs/docGeneration_test.go
Due: go-unit-tests

Removed panic from test - non-idiomatic practice
  git/gitutils_test.go
Due: go-unit-tests

WIP: docgen support for mage
  docs/docGeneration.go
  go.sum
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

Resolved formatting issues in the magefile comments
  docs/docGeneration.go
  magefiles/README.md
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Refine docgen: Update README templates for magefiles
  dev/mage/templates/README.md.tmpl
  magefiles/README.md
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Clean up and refine documentation generation logic
  docs/docGeneration.go
  docs/docGeneration_test.go
  magefiles/README.md
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Refactor TestCreatePackageDocs for DRYness and clarity
  docs/docGeneration_test.go
Due: go-unit-tests

Doc gen mage (#404)
  dev/mage/templates/README.md.tmpl
  docs/docGeneration.go
  docs/docGeneration_examples_test.go
  docs/docGeneration_test.go
  git/gitutils_test.go
  go.sum
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-no-replacement, go-unit-tests

Enhance GitHub Actions and Update Dependencies
  .github/workflows/pre-commit.yaml
  go.sum
  macos/macosutils_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Enhance GitHub Actions and Update Dependencies (#405)
  .github/workflows/pre-commit.yaml
  go.sum
  macos/macosutils_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests

Enhance documentation and update dependencies
  .github/workflows/pre-commit.yaml
  ansible/README.md
  cloudflare/README.md
  dev/lint/README.md
  dev/mage/README.md
  docs/README.md
  file/aferoutils/README.md
  file/encoderutils/README.md
  file/fileutils/README.md
  git/README.md
  logging/README.md
  macos/README.md
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tmpl/README.md.tmpl
  net/README.md
  pwmgr/README.md
  pwmgr/keeper/README.md
  str/README.md
  sys/README.md
  web/README.md
  web/cdpu/README.md
Due: go-no-replacement

Update magefiles go.mod to latest release
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 1d073bb
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.3
  .tool-versions
Due: none

fix(deps): update module github.com/chromedp/chromedp to v0.9.3
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/samber/slog-multi to v1.0.2
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency python to v3.12.0
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Due: none

Update mods and asdf python version
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Update InstallDeps() to include tidying magefiles go mods
  go.sum
  magefiles/magefile.go
Due: go-unit-tests

Fixed minor typo
  .github/workflows/tests.yaml
Due: none

Refactored `RetrieveRecord` method to return JSON string representation.
  pwmgr/keeper/README.md
  pwmgr/keeper/keeperutils.go
  pwmgr/keeper/keeperutils_test.go
Due: go-unit-tests

fix(deps): update github.com/chromedp/cdproto digest to 864b428
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update actions/checkout action to v4.1.1 (#419)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

Retract v1.0.9 due to checksum mismatch
  go.mod
  go.sum
Due: go-no-replacement

Refactored `FixCodeBlocks` function signature and usage across codebase.
  docs/README.md
  docs/markdownHelpers.go
  docs/markdownHelpers_examples_test.go
  docs/markdownHelpers_test.go
  go.sum
  magefiles/README.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update github/codeql-action digest to 49abf0b (#422)
  .github/workflows/codeql-analysis.yaml
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
