Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

refactor: Update file imports and add new functions in multiple packages
  dev/lint/lintutils.go
  dev/mage/mageutils.go
  dev/mage/mageutils_test.go
  docs/docGeneration_test.go
  docs/markdownHelpers.go
  docs/markdownHelpers_examples_test.go
  docs/markdownHelpers_test.go
  file/aferoutils/README.md
  file/aferoutils/aferoutils.go
  file/aferoutils/aferoutils_examples_test.go
  file/aferoutils/aferoutils_test.go
  file/fileutils/README.md
  file/fileutils/fileutils.go
  file/fileutils/fileutils_examples_test.go
  file/fileutils/fileutils_test.go
  file/testingfile
  magefiles/magefile.go
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

feat: Add exclusion of specified packages in CreatePackageDocs
  docs/docGeneration.go
  docs/docGeneration_examples_test.go
  docs/docGeneration_test.go
Due: go-unit-tests

Update docs pkg documentation
  docs/README.md
Due: none

Add additional field for func/method parameters
  docs/docGeneration.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Update function documentation format
  docs/README.md
  docs/docGeneration.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Updated docs to include params and method definitions
  ansible/README.md
  cloudflare/README.md
  dev/lint/README.md
  dev/mage/README.md
  docs/README.md
  file/aferoutils/README.md
  file/fileutils/README.md
  git/README.md
  logging/README.md
  macos/README.md
  net/README.md
  pwmgr/keeper/README.md
  str/README.md
  sys/README.md
  web/README.md
  web/cdpu/README.md
Due: none

Add prettier hook back in
  .pre-commit-config.yaml
Due: none

Fixed previously missed linting of logging pkg comments
  logging/README.md
  logging/logutils.go
Due: go-unit-tests

Minor update to label
  .github/labels.yaml
Due: none

Update renovate action to clean up after itself
  .github/workflows/renovate.yaml
Due: none

chore(deps): update github/codeql-action digest to 004c5de
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 7fafe34
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency python to v3.11.4
  .tool-versions
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8
  magefiles/go.mod
Due: go-no-replacement

Removed redundant block from tests action
  .github/workflows/tests.yaml
Due: none

Add fixed pre-commit action back
  .github/workflows/pre-commit.yaml
Due: none

Fix autodocgen and pkg docs
  .pre-commit-config.yaml
  ansible/README.md
  cloudflare/README.md
  dev/lint/README.md
  dev/mage/README.md
  docs/README.md
  docs/docGeneration.go
  file/aferoutils/README.md
  file/fileutils/README.md
  git/README.md
  logging/README.md
  macos/README.md
  net/README.md
  pwmgr/README.md
  pwmgr/keeper/README.md
  pwmgr/keeper/keeperutils.go
  str/README.md
  sys/README.md
  web/README.md
  web/cdpu/README.md
Due: go-unit-tests

Removed generate-docs PC hook
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
Due: none

chore(deps): update github/codeql-action digest to 46ed16d
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.11
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update github/codeql-action digest to 489225d
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 3ed7c52
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update golang.org/x/exp digest to 613f0c0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.20.6
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Due: none

Add encoderutils and tests
  file/encoderutils/README.md
  file/encoderutils/encoderutils.go
  file/encoderutils/encoderutils_test.go
  go.sum
Due: go-unit-tests

Update renovate.yaml
  .github/workflows/renovate.yaml
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
