Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

chore(deps): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 8e31ff0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/go-git/go-git/v5 to v5.10.1
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/spf13/afero to v1.11.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Fixed semgrep action
  .github/workflows/semgrep.yaml
  go.sum
Due: none

Update magefile go.sum
  magefiles/go.sum
Due: none

chore(deps): update github/codeql-action digest to c0d1daa
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 00455a9
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.5
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.11.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/labeler action to v5
  .github/workflows/meta-labeler.yaml
Due: none

chore(deps): update actions/setup-go action to v5
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update actions/setup-python action to v5
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update dependency python to v3.12.1
  .tool-versions
Due: none

Added SaveCookiesToDisk function and tests in cdpu package.
  .hooks/generate-docs.sh
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  web/cdpu/README.md
  web/cdpu/chrome.go
  web/cdpu/chrome_test.go
Due: go-no-replacement, go-unit-tests

Added SaveCookiesToDisk function and tests in cdpu package. (#477)
  .hooks/generate-docs.sh
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  web/cdpu/README.md
  web/cdpu/chrome.go
  web/cdpu/chrome_test.go
Due: go-no-replacement, go-unit-tests

Working with color logs
  .tool-versions
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

Broke logging code into more manageable sections
  logging/colorize.go
  logging/colorlogger.go
  logging/logger.go
  logging/loginfo.go
  logging/logutils.go
  logging/plainlogger.go
  logging/prettyhandler.go
Due: go-unit-tests

Plain logging tests working
  logging/logutils.go
  logging/logutils_test.go
Due: go-unit-tests

Update Go version in workflows and refactor logging system
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .hooks/generate-docs.sh
  logging/README.md
  logging/logger.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Due: go-unit-tests

Finished removing asdf
  .asdf
  .github/labeler.yaml
  .github/labels.yaml
  README.md
Due: none

Updated labeler to fit new 5.0 format
  .github/labeler.yaml
  .github/workflows/meta-labeler.yaml
Due: none

Update Go version in workflows and refactor logging system (#478)
  .asdf
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .hooks/generate-docs.sh
  .tool-versions
  README.md
  logging/README.md
  logging/colorize.go
  logging/colorlogger.go
  logging/logger.go
  logging/loginfo.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
Due: go-unit-tests

chore(deps): update github/codeql-action digest to 03e7845
  .github/workflows/codeql-analysis.yaml
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
