Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

fix(deps): update module github.com/tidwall/gjson to v1.15.0 (#338)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 5b6282e
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 483865d
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28
  .github/workflows/tests.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 5d0fb34
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to 9df4ba9
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update golang.org/x/exp digest to 89c5cff
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.0
  .tool-versions
Due: none

fix(deps): update module github.com/tidwall/gjson to v1.16.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/samber/slog-multi to v1
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.0 (#347)
  .tool-versions
Due: none

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28 (#343)
  .github/workflows/tests.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 483865d (#342)
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/l50/goutils/v2 digest to 9df4ba9 (#345)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8 (#341)
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update github/codeql-action digest to 5b6282e (#340)
  .github/workflows/codeql-analysis.yaml
Due: none

Fixed generate-docs pre-commit hook
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
  dev/lint/README.md
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Add dispatch to pre-commit action
  .github/workflows/pre-commit.yaml
Due: none

Fixed asdf
  .asdf
  magefiles/go.sum
Due: none

Update pre-commit hook
  .github/workflows/pre-commit.yaml
Due: none

Update to go1.21
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Fixed doc generation
  .github/workflows/pre-commit.yaml
  .hooks/generate-docs.sh
  .pre-commit-config.yaml
Due: none

Renamed go test hook
  .hooks/run-go-tests.sh
Due: none

Add new test to TestRunCommand
  sys/sysutils_test.go
Due: go-unit-tests

Updated all go test references
  .github/workflows/tests.yaml
  .hooks/run-go-tests.sh
  .pre-commit-config.yaml
  magefiles/magefile.go
Due: go-unit-tests

Refactor GetHomeDir() usage and update error messages in sysutils_test.go
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-unit-tests

Improve test coverage
  sys/sysutils_test.go
Due: go-unit-tests

Improve str test coverage
  str/str_test.go
Due: go-unit-tests

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 17ee49f
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update github.com/l50/goutils/v2 digest to dd2527a
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update golang.org/x/exp digest to d852ddb
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.2
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/tidwall/gjson to v1.16.0 (#356)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to a09933a (#350)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 0bdb313 (#351)
  .github/workflows/semgrep.yaml
Due: none
