Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

chore(deps): update github/codeql-action digest to 03e7845
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.7
  magefiles/go.mod
Due: go-no-replacement

chore(deps): update github/codeql-action action to v3
  .github/workflows/codeql-analysis.yaml
Due: none

Update renovate to better support golang
  .github/renovate.json5
Due: none

chore(deps): update golang.org/x/exp digest to aacd6d4
  go.mod
  go.sum
Due: go-no-replacement

Fixed that pesky meta-labeler issue
  .github/labeler.yaml
  .github/workflows/meta-labeler.yaml
Due: none

Update renovate schema to match latest format
  .github/renovate.json5
Due: none

Simplified renovate config
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.8
  magefiles/go.mod
Due: go-no-replacement

Update renovate and labeler actions to use github app instead of PAT
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/meta-labeler.yaml
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.8 (#491)
  magefiles/go.mod
Due: go-no-replacement

Refactored sys package with enhancements and new functionalities.
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
  go.sum
  sys/README.md
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Add exclude broken prettier pc hook to renovate rules
  .github/renovate/autoMerge.json5
Due: none

Ran prettier locally
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Due: none

Added new PC hooks; simplified PC action
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: none

Implemented custom Prettier hook and updated GitHub Actions workflow.
  .github/workflows/pre-commit.yaml
  .hooks/prettier.sh
  .pre-commit-config.yaml
Due: none

Refactored sys package with enhancements and new functionalities. (#518)
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
  .hooks/prettier.sh
  .pre-commit-config.yaml
  go.sum
  sys/README.md
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Removed old prettier hook from renovate deny list
  .github/renovate/autoMerge.json5
Due: none

Added some sanity to renovatebot's schedule
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.2.3 (#527)
  .github/workflows/renovate.yaml
Due: none

Enhanced RunCmd Functionality and Testing in sysutils
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Enhanced RunCmd Functionality and Testing in sysutils (#529)
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Implemented RunHookTool function for pre-commit hook execution.
  dev/lint/README.md
  dev/lint/lintutils.go
  dev/lint/lintutils_examples_test.go
  dev/lint/lintutils_test.go
Due: go-unit-tests

Enhanced encoderutils tests with Unzip and Zip functionalities.
  file/encoderutils/encoderutils_test.go
Due: go-unit-tests

Enhanced logging functionality with directory validation and afero.Fs support.
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

Enhanced linting utilities with new functionalities and improved logger setup. (#532)
  dev/lint/README.md
  dev/lint/lintutils.go
  dev/lint/lintutils_examples_test.go
  dev/lint/lintutils_test.go
  file/encoderutils/encoderutils_test.go
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

**Refactored Logging Module for Simplified File Path Handling**
  go.sum
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  magefiles/go.sum
Due: go-unit-tests

chore(deps): update github/codeql-action digest to 012739e
  .github/workflows/codeql-analysis.yaml
Due: none

Implemented Close Method for Loggers
  logging/README.md
  logging/colorlogger.go
  logging/logger.go
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
  logging/plainlogger.go
Due: go-unit-tests

Fix color codes in JSON output
  logging/logutils.go
Due: go-unit-tests

Fixed random {} in color output
  logging/prettyhandler.go
Due: go-unit-tests

Ensure uniformity of tests to idiomatic standards
  ansible/ansible_test.go
  cloudflare/cloudflareutils_test.go
  dev/lint/lintutils_test.go
  dev/mage/mageutils_test.go
  docs/docGeneration_test.go
  docs/markdownHelpers_test.go
  file/aferoutils/aferoutils_test.go
  file/encoderutils/encoderutils_test.go
  file/fileutils/fileutils_test.go
  git/gitutils_test.go
  logging/logutils_test.go
  logging/prettyhandler.go
  logging/prettyhandler_test.go
  macos/macosutils_test.go
  str/README.md
  str/str.go
  str/str_test.go
  sys/sysutils_test.go
  web/browser_test.go
  web/cdpu/chrome_test.go
Due: go-unit-tests
