Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Update names in string package to avoid stuttering
  v2/string/string.go
  v2/string/string_test.go
Due: go-unit-tests

Add missing test for SlicesEqual()
  v2/string/string_test.go
Due: go-unit-tests

Fixed sloppyTypeAssert errors; update go.mods
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  v2/web/browser.go
  v2/web/chrome/chrome.go
  v2/web/session.go
Due: go-no-replacement, go-unit-tests

Add README for ansible package; minor typo fix
  v2/ansible/README.md
  v2/ansible/ansible.go
Due: go-unit-tests

Update web logic
  v2/web/README.md
  v2/web/browser.go
  v2/web/chrome/chrome.go
  v2/web/go.mod
  v2/web/session.go
Due: go-no-replacement, go-unit-tests

Update Wait() to not use math/rand
  v2/web/browser.go
Due: go-unit-tests

Fixed sloppyTypeAsserts; comments
  v2/web/browser.go
  v2/web/chrome/chrome.go
Due: go-unit-tests

Migrated mageutils to v2
  v2/go.mod
  v2/go.sum
  v2/mage/.gitkeep
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
Due: go-no-replacement, go-unit-tests

Migrated fileutils to v2
  v2/file/.gitkeep
  v2/file/fileutils.go
  v2/file/fileutils_test.go
Due: go-unit-tests

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/tests.yaml
Due: none

chore(deps): update github/codeql-action digest to 0225834
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Due: none

Migrated lintutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  v2/go.mod
  v2/go.sum
  v2/lint/.gitkeep
  v2/lint/lintutils.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils_test.go
Due: go-no-replacement, go-unit-tests

Add v2 to go-unit-tests
  .hooks/go-unit-tests.sh
  mageutils_test.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils_test.go
Due: go-unit-tests

Migrated macosutils to v2
  v2/go.mod
  v2/go.sum
  v2/macos/.gitkeep
  v2/macos/macosutils.go
  v2/macos/macosutils_test.go
Due: go-no-replacement, go-unit-tests

Migrated cloudflareutils to v2
  v2/cloudflare/.gitkeep
  v2/cloudflare/cloudflareutils.go
  v2/cloudflare/cloudflareutils_test.go
Due: go-unit-tests

Updated string package to str to make life less painful/confusing
  v2/str/README.md
  v2/str/string.go
  v2/str/string_test.go
Due: go-unit-tests

Minor refactor
  v2/str/README.md
  v2/str/str.go
  v2/str/str_test.go
Due: go-unit-tests

Minor refaactor of fileutils
  v2/file/fileutils.go
  v2/file/fileutils_test.go
  v2/go.mod
Due: go-no-replacement, go-unit-tests

Fix cyclo issues; refactoring
  v2/file/fileutils.go
  v2/file/fileutils_test.go
  v2/lint/lintutils.go
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
  v2/net/README.md
  v2/sys/sysutils.go
  v2/sys/sysutils_test.go
Due: go-unit-tests

Migrated gitutils to v2
  v2/git/.gitkeep
  v2/git/gitutils.go
  v2/git/gitutils_test.go
  v2/go.mod
  v2/go.sum
Due: go-no-replacement, go-unit-tests

Bug fixes
  v2/git/gitutils.go
  v2/lint/lintutils_test.go
  v2/mage/mageutils.go
  v2/mage/mageutils_test.go
  v2/sys/.gitkeep
  v2/sys/sysutils_test.go
Due: go-unit-tests

All gitutils_test working
  v2/git/gitutils_test.go
Due: go-unit-tests

More bug fixes
  v2/git/gitutils.go
  v2/git/gitutils_test.go
  v2/mage/mageutils_test.go
Due: go-unit-tests

Fixed terrible Cd() test
  v2/sys/sysutils_test.go
Due: go-unit-tests

Fixed overly verbose output
  v2/git/gitutils.go
Due: go-unit-tests

Updated go-unit-tests for v2
  .pre-commit-config.yaml
Due: none

Updated tests to v2
  .github/workflows/tests.yaml
  .hooks/go-unit-tests.sh
Due: none

Add TestRunPCHooks
  v2/lint/lintutils_test.go
Due: go-unit-tests

Improve readability of gitutils output
  v2/git/gitutils.go
Due: go-unit-tests

Add v2 example
  .hooks/go-unit-tests.sh
Due: none

Minor linting and updating func comments
  v2/cloudflare/cloudflareutils.go
  v2/mage/mageutils.go
  v2/sys/sysutils.go
Due: go-unit-tests

Begin reworking comments in gitutils
  v2/git/gitutils.go
Due: go-unit-tests

Update go mod and sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Migrated logutils to v2
  v2/git/gitutils.go
  v2/log/.gitkeep
  v2/logging/logutils.go
  v2/logging/logutils_test.go
  v2/sys/sysutils.go
  v2/testvars/.gitkeep
Due: go-unit-tests
