Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Uniform timeout parameter (int not time)
  keeper/keeperutils.go
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-unit-tests

Overhauled RunPCHooks() and test
  dev/lint/lintutils.go
  dev/lint/lintutils_test.go
Due: go-unit-tests

Gave files in cdpu better names
  web/cdpu/chrome.go
  web/cdpu/chrome_test.go
Due: go-unit-tests

Update older CheckElement() function comment
  web/cdpu/chrome.go
Due: go-unit-tests

chore(deps): update github/codeql-action digest to 6c089f5
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 336e299
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.3
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Improved fileutils tests and accuracy of comments
  file/fileutils.go
  file/fileutils_test.go
Due: go-unit-tests

Updated code that used previous fileutils
  file/fileutils_test.go
  file/testingfile
  git/gitutils_test.go
  sys/sysutils_test.go
Due: go-unit-tests

Minor bug fix in magefile
  magefiles/go.sum
  magefiles/magefile.go
Due: go-unit-tests

Improved comments and some gitutils tests
  git/gitutils.go
  git/gitutils_test.go
Due: go-unit-tests

Continue to improve gitutils tests
  git/gitutils_test.go
Due: go-unit-tests

Add GenDocs()
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Add comments to structs; minor bug fixes
  file/fileutils.go
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

chore(deps): update github/codeql-action digest to f6e388e
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/otiai10/copy to v1.12.0
  go.mod
  go.sum
Due: go-no-replacement

Enhance fileutils tests, comments accuracy, and introduce GenDocs()
  file/fileutils.go
  file/fileutils_test.go
  file/testingfile
  git/gitutils.go
  git/gitutils_test.go
  magefiles/go.sum
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
  sys/sysutils_test.go
Due: go-unit-tests

This commit introduces several enhancements to the codebase:
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Fixed typo in generate-docs output
  .hooks/generate-docs.sh
Due: none

Refactor CreatePackageDocs to accept a template path
  .pre-commit-config.yaml
  .vscode/launch.json
  docs/README.md
  docs/docGeneration.go
  docs/docGeneration_examples_test.go
  docs/docGeneration_test.go
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests

Replaced gvm with asdf; updated README to reflect changes
  .asdf-go
  .asdf-ruby
  .gvm
  README.md
Due: none

Made magefile more reasonable to use for pre-commit
  .asdf-go
  .asdf-ruby
  README.md
  magefiles/magefile.go
Due: go-unit-tests

Employ asdf to include all relevant languages for this project
  .asdf-python
  .asdf-ruby
  .tool-versions
  README.md
Due: none

Incorporated all asdf functionality in a single file
  .asdf
  .asdf-go
  .asdf-python
  .asdf-ruby
  README.md
  go.mod
  go.sum
Due: go-no-replacement

Add multiple logger types and upgrade dependencies
  go.mod
  go.sum
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-no-replacement, go-unit-tests
