Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

Cleaned up output
  .pre-commit-config.yaml
  dev/mageutils.go
  dev/mageutils_test.go
  file/fileutils.go
  git/gitutils.go
  git/gitutils_test.go
  go.mod
  go.sum
  lint/lintutils.go
  macos/macosutils.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  net/net.go
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

Update go-unit-tests with the removal of the v2 dir
  .hooks/go-unit-tests.sh
Due: none

Remove non-existent directories from go-vet hook
  .hooks/go-vet.sh
Due: none

Update go-vet to account for all hidden directories
  .hooks/go-vet.sh
Due: none

Remove old go mod settings
  go.mod
  go.sum
  web/go.mod
  web/go.sum
Due: go-no-replacement

Fixed browser automation logic in web
  go.mod
  go.sum
  web/browser.go
  web/browser_test.go
  web/chrome/chrome.go
  web/session.go
Due: go-no-replacement, go-unit-tests

Add golds
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 83f0fe6
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.5
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Due: none

README for every package
  file/README.md
  str/README.md
  sys/README.md
Due: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.7.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils to v1.3.0
  magefiles/go.mod
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Due: none

Add standardized comments to all exported fileutils functions
  file/fileutils.go
  file/fileutils_test.go
  go.mod
  go.sum
Due: go-no-replacement, go-unit-tests

Fixed bugs in sys tests; move rm -rf to sys
  file/fileutils_test.go
  magefiles/go.mod
  magefiles/go.sum
  sys/sysutils.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

Migrated keeperutils to v2
  keeper/keeperutils.go
  keeper/keeperutils_test.go
Due: go-unit-tests

Improved comments and tests; added README
  keeper/README.md
  keeper/keeperutils.go
  keeper/keeperutils_test.go
Due: go-unit-tests

Add README to net
  net/README.md
  net/net.go
  net/net_test.go
Due: go-unit-tests

Uniform function comments; add and update README files
  keeper/README.md
  web/README.md
  web/browser.go
  web/chrome/README.md
  web/chrome/chrome.go
Due: go-unit-tests

Add new functions and tests
  web/browser.go
  web/browser_test.go
Due: go-unit-tests

Add missing tests
  web/chrome/README.md
  web/chrome/chrome_test.go
Due: go-unit-tests

Improve macos tests and add README
  macos/README.md
  macos/macosutils_test.go
Due: go-unit-tests

Add README for logging package
  logging/README.md
Due: none

Add README for lint package
  lint/README.md
Due: none

Lint README files
  lint/README.md
  logging/README.md
  macos/README.md
  net/README.md
  web/README.md
  web/chrome/README.md
Due: none

Add dev README; linting
  dev/README.md
  macos/README.md
Due: none

Add README for cloudflare
  cloudflare/README.md
Due: none

Linting
  cloudflare/README.md
  dev/README.md
  macos/README.md
Due: none

Remove outdated flag from GoReleaser()
  dev/mageutils.go
Due: go-unit-tests

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
