Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Add pre-commit to renovate
  .github/workflows/pre-commit.yaml
  README.md
  renovate.json
Due: none

Add ExpandHomeDir() and test; cleanup old comment
  fileutils.go
  fileutils_test.go
  keeperutils.go
Due: go-unit-tests

Replace renovatebot with local implementation via GH actions
  .github/CODEOWNERS
  .github/labeler.yaml
  .github/labels.yaml
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  renovate.json
Due: none

Update go.mod to 1.20
  go.mod
  magefiles/go.mod
Due: go-no-replacement

Remove broken re-run button
  .github/renovate.json5
Due: none

Fix broken go version fetch
  .github/renovate.json5
Due: none

chore(deps): update actions/checkout action to v3.5.0
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Due: none

chore(deps): pin dependencies
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

Update yamllint hook name; rm 'Report failure' from test action
  .github/workflows/tests.yaml
  .hooks/linters/yamllint.yaml
  .pre-commit-config.yaml
Due: none

Update PC hooks; fix linting issues
  .github/workflows/tests.yaml
  .hooks/go-vet.sh
  .hooks/linters/mdstyle.rb
  .hooks/linters/yamllint.yaml
  README.md
Due: none

Add renovate badge
  README.md
Due: none

Add StringSlicesEqual()
  stringutils.go
Due: go-unit-tests

Updated FindExportedFunctionsInPackage() comment
  mageutils.go
Due: go-unit-tests

fix(deps): update module github.com/shirou/gopsutil/v3 to v3.23.3
  go.mod
  go.sum
Due: go-no-replacement

Updated go-vet PC hook
  .hooks/go-vet.sh
Due: none

Add issue templates
  .github/ISSUE_TEMPLATE/BUG.yaml
  .github/ISSUE_TEMPLATE/ENHANCEMENT.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to d186a2a
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 83c59fc
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update module github.com/otiai10/copy to v1.10.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 7df0ce3
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.2
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update actions/setup-python digest to 57ded4d
  .github/workflows/tests.yaml
Due: none

chore(deps): update github/codeql-action digest to b2c19fb
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yaml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/bitfield/script to v0.22.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/otiai10/copy to v1.11.0
  go.mod
  go.sum
Due: go-no-replacement

Add new area labels
  .github/labeler.yaml
  .github/labels.yaml
Due: none
