Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Remove update-pkg action, add func to mage
  .github/workflows/update-pkg.yaml
  magefile.go
Due: go-unit-tests

Minor tweaks to simplify magefile
  magefile.go
Due: go-unit-tests

Fix go-unit-tests and minor bug in magefile
  .hooks/go-unit-tests.sh
  magefile.go
Due: go-unit-tests

Add gocliutils and tests
  gocliutils.go
  gocliutils_test.go
Due: go-unit-tests

Overhaul magefile
  magefile.go
Due: go-unit-tests

Add precommitutils and tests
  precommitutils.go
  precommitutils_test.go
Due: go-unit-tests

Remove dead function
  magefile.go
Due: go-unit-tests

Incorporate proper formatting
  fileutils.go
  fileutils_test.go
  gitutils_test.go
  netutils.go
  netutils_test.go
  stringutils_test.go
  sysutils_test.go
Due: go-unit-tests

More formatting fixes; added json to debug with vscode
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  fileutils.go
  gitutils.go
  magefile.go
  netutils_test.go
  precommitutils_test.go
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Update pre-commit hook
  .pre-commit-config.yaml
  fileutils.go
  fileutils_test.go
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Add AppendToFile() and StringInFile()
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Discontinue running problematic test
  gitutils_test.go
Due: go-unit-tests

Add DeleteFile()
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Replace outdated dep; update pre-commit hooks
  .pre-commit-config.yaml
  fileutils.go
  sysutils.go
Due: go-unit-tests

Overhauled magefile and docs
  .gitignore
  .mage/go.mod
  .mage/go.sum
  .mage/magefile.go
  .pre-commit-config.yaml
  README.md
Due: go-no-replacement, go-unit-tests

Removed Makefile
  Makefile
Due: none

Add logutils
  .github/workflows/lint.yaml
  .github/workflows/pre-commit.yaml
  README.md
  logutils.go
  logutils_test.go
Due: go-unit-tests

Fixed go report card badge
  README.md
Due: none

Remove debug sections from actions
  .github/workflows/codeql-analysis.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/semgrep.yaml
Due: none

Add code coverage action
  .github/workflows/code-coverage.yaml
  .gitignore
  README.md
Due: none

Create tests action
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  README.md
Due: none

Fix error message
  precommitutils.go
Due: go-unit-tests

Install pre-commit in tests
  .github/workflows/tests.yaml
Due: none

Made func name more intuitive
  .github/workflows/tests.yaml
  .mage/magefile.go
  README.md
Due: go-unit-tests

Fix pre-commit regression
  .github/workflows/tests.yaml
  .mage/magefile.go
Due: go-unit-tests

Add RunCommandWithTimeout()
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Add goreleaser action
  .github/workflows/goreleaser.yml
Due: none

Updated goreleaser to work for library
  .github/workflows/goreleaser.yml
  .gitignore
  .goreleaser.yml
  .hooks/go-release-notes.md
Due: none

RunCommandWithTimeout() updated to kill subprocesses
  .pre-commit-config.yaml
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Add tests badge to README
  README.md
Due: none

Fixed RunPCHooks()
  .pre-commit-config.yaml
  precommitutils.go
Due: go-unit-tests

Update pre-commit-config
  logutils.go
Due: go-unit-tests

Minor updates
  .github/workflows/tests.yaml
  .mage/magefile.go
  precommitutils.go
  precommitutils_test.go
Due: go-unit-tests

Fix error message
  .mage/magefile.go
Due: go-unit-tests

Add StringToInt64() and test
  stringutils.go
  stringutils_test.go
Due: go-unit-tests

Add GetFutureTime()
  sysutils.go
Due: go-unit-tests

Add RandomString() and test
  stringutils.go
  stringutils_test.go
Due: go-unit-tests

Added new endpoint to UpdateMirror() in magefile
  .mage/magefile.go
Due: go-unit-tests

Fix goreleaser issue with go1.18; update relelease notes
  .github/workflows/goreleaser.yml
  .hooks/go-release-notes.md
Due: none

Update to 1.0.7
  .hooks/go-release-notes.md
Due: none
