Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.26.3
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

Merge gocliutils into mageutils; add new utils
  .mage/go.mod
  .mage/go.sum
  .mage/magefile.go
  gocliutils.go
  gocliutils_test.go
  mageutils.go
  mageutils_test.go
  sysutils.go
  sysutils_test.go
Due: go-no-replacement, go-unit-tests

Update magefile goutils dep version; formatting
  .mage/go.mod
  .mage/go.sum
  mageutils_test.go
Due: go-no-replacement, go-unit-tests

Add go-no-replacement that supports https and TLS
  .hooks/go-no-replacement.sh
Due: none

Fix UpdateMageDeps() and add test
  mageutils.go
  mageutils_test.go
Due: go-unit-tests

Fix typo - closes #22
  precommitutils.go
Due: go-unit-tests

Add CreateFile() and test
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Overhaul CloneRepo() and associated test
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Numerous gitutils additions and improvements
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Create AddFile() and associated test
  example-git-file
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Create Commit() and associated test
  example-git-file
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Remove unused struct
  gitutils.go
Due: go-unit-tests

Add Push() and its associated test
  gitutils.go
  gitutils_test.go
Due: go-unit-tests

Overhaul go-unit-tests.sh
  .github/workflows/tests.yaml
  .hooks/go-unit-tests.sh
  .pre-commit-config.yaml
  precommitutils.go
Due: go-unit-tests

Add CreateArtifacts() and test
  mageutils.go
  mageutils_test.go
Due: go-unit-tests

Minor updates to goreleaser config; linting
  .github/workflows/goreleaser.yml
  .goreleaser.yml
  mageutils.go
Due: go-unit-tests

Fix checkPCProject; minor changes
  gitutils_test.go
  precommitutils.go
Due: go-unit-tests

Add keeperutils
  go.mod
  go.sum
  keeperutils.go
Due: go-no-replacement, go-unit-tests

Add RmRf() and CreateDirectory()
  .pre-commit-config.yaml
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Add EnvVarSet()
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Add test for GetFutureTime()
  sysutils.go
  sysutils_test.go
Due: go-unit-tests

Minor updates to documentation and gitignore
  .gitignore
  README.md
Due: none

Update pc hooks; add shfmt pc hook; add shfmt to tests action
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
Due: none

Fix RunPCHooks(); update go deps
  .mage/go.mod
  .mage/go.sum
  .mage/magefile.go
  precommitutils.go
Due: go-no-replacement, go-unit-tests

Lint existing bash scripts
  .hooks/go-no-replacement.sh
  .hooks/go-unit-tests.sh
Due: none

Add editorconfig for shfmt
  .editorconfig
Due: none

Add ListFiles() and test
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Lint hooks; update mage deps; update mage
  .hooks/go-no-replacement.sh
  .hooks/go-unit-tests.sh
  .mage/go.mod
  .mage/go.sum
  .mage/magefile.go
  go.mod
  go.sum
  precommitutils.go
  precommitutils_test.go
Due: go-no-replacement, go-unit-tests

Fix TestListFiles for gh actions
  fileutils_test.go
Due: go-unit-tests

Add ListFiles(), StringToSlice(), and tests
  fileutils.go
  fileutils_test.go
  stringutils.go
  stringutils_test.go
Due: go-unit-tests

Add FindFile() and test
  fileutils.go
  fileutils_test.go
Due: go-unit-tests

Fix vscode debugging of magefile
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Fix TestFindFile() for gh actions
  fileutils_test.go
Due: go-unit-tests

Fix TestStringToSlice; update pre-commit hooks
  .pre-commit-config.yaml
  stringutils_test.go
Due: go-unit-tests

Add dependabot and pre-commit-update actions
  .github/dependabot.yml
  .github/workflows/pre-commit-update.yml
Due: none

Update README.md
  README.md
Due: none

Updated magefile go.mod to address bug
  .mage/go.mod
Due: go-no-replacement

chore: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Updated go.mod and go.sum
  .mage/go.mod
  .mage/go.sum
  go.mod
  go.sum
Due: go-no-replacement
