Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

chore(deps): update github/codeql-action digest to 74483a3
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 5615e20
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  magefiles/go.mod
Due: go-no-replacement

fix(deps): update module github.com/go-git/go-git/v5 to v5.10.0
  go.mod
  go.sum
Due: go-no-replacement

Refactored magefiles and improved RunPreCommit function.
  magefiles/go.mod
  magefiles/magefile.go
  magefiles/testing.go
Due: go-no-replacement, go-unit-tests

fix(deps): update module github.com/go-git/go-git/v5 to v5.10.0 (#428)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 74483a3 (#430)
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 5615e20 (#431)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.1.1 (#432)
  .github/workflows/renovate.yaml
Due: none

Fixed some typos
  magefiles/magefile.go
  magefiles/testing.go
Due: go-unit-tests

Update go mods; fix editorconfig
  .editorconfig
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update returntocorp/semgrep-action digest to 713efdd
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 24f5925
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.4
  .tool-versions
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.33.0
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/fatih/color to v1.16.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 66b90a5
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 3e458d5
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.1.0
  .pre-commit-config.yaml
Due: none

Enhanced system utilities module with new functionality and updates.
  .hooks/go-licenses.sh
  .hooks/run-go-tests.sh
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  sys/README.md
  sys/sysutils.go
  sys/sysutils_examples_test.go
  sys/sysutils_test.go
Due: go-no-replacement, go-unit-tests

chore(deps): update github/codeql-action digest to 407ffaf
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6
  magefiles/go.mod
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils/v2 to v2.1.6 (#453)
  magefiles/go.mod
Due: go-no-replacement

fix(deps): update github.com/chromedp/cdproto digest to 8e31ff0
  go.mod
  go.sum
Due: go-no-replacement

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
