Repository l50/goutils: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.27.1
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/.yaml-lint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.7.1
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.6
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod
      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.32.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md docs/* cmd/*

fix(deps): update module github.com/samber/slog-multi to v1.0.1 (#377)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to a15a36c
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/go-git/go-git/v5 to v5.9.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action action to v5 (#386)
  .github/workflows/goreleaser.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to a15a36c (#384)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout action to v4.1.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/spf13/afero to v1.10.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/tidwall/gjson to v1.17.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/tidwall/gjson to v1.17.0 (#390)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 6a28655 (#381)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5497961 (#383)
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update module github.com/go-git/go-git/v5 to v5.9.0 (#385)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/checkout action to v4.1.0 (#388)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/spf13/afero to v1.10.0 (#389)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update github/codeql-action digest to ddccb87 (#392)
  .github/workflows/codeql-analysis.yaml
Due: none

Update go.sum
  go.sum
  magefiles/go.sum
Due: none

Add Debug and Debugf methods to logging utilities
  logging/README.md
  logging/logutils.go
  logging/logutils_examples_test.go
  logging/logutils_test.go
Due: go-unit-tests

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 18b01cd
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.2
  .tool-versions
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/samber/slog-multi to v1.0.2
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update dependency python to v3.12.0
  .tool-versions
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/otiai10/copy to v1.14.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/otiai10/copy to v1.14.0 (#403)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0 (#402)
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1 (#399)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update dependency golang to v1.21.2 (#397)
  .tool-versions
Due: none

chore(deps): update actions/setup-python digest to 65d7f2d (#394)
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update github.com/chromedp/cdproto digest to 18b01cd (#396)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 2cb752a (#395)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6 (#398)
  .pre-commit-config.yaml
Due: none
